*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(3,0.3fr);
    margin: 10px;
    justify-content: center;
}

p{
    font-size: 36px;
}

.image-container{
    border: 3px solid #cdcdcd;
    width: fit-content;
    border-radius: 10px;
}

.villains, .heroes{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    gap: 20px 40px;
}

.vader {
    grid-column: -2/-1;
}

.heroes{
    justify-content: right;
}

.villains{
    justify-content: left;
}

.footer{
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


#footer-text{
    font-weight: normal;
}


@media only screen and (max-width:600px) {
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
    
    .villains,.heroes{
        display: flex;
        flex-direction: column;
    }

    #footer-text{
        font-size: 12px;
    }
}